@use "../components/" as c;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: c.$primaryFont;
  background-color: c.$primaryBgColor;
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
  --footer-load-time: 400ms;
  --footer-time: 700ms;
  --projects-load-time: 600ms;
  --projects-time: 600ms;
}

* {
  box-sizing: border-box;
}
